#eu {
    display: flex;
    justify-content: center;

}

#eu1 {

    display: flex;
    justify-content: center;
}


.flex-container {
    display: flex;
    border: 3px solid black;
    padding: 10px;
}

.flex-item {
    padding: 20px;
    background-color: rgb(7, 7, 7);
    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.flex-container {
   justify-content: space-between;
    align-items: center;
}

.flex-item:nth-child(1) {
    flex: 1;
    background-color: rgb(0, 0, 0);
}

.flex-item:nth-child(2) {
    flex: 1;
    background-color: rgb(0, 0, 0);
}

.flex-item:nth-child(3) {
    flex: 1;
    background-color: rgb(0, 0, 0);
}

.flex-item {
    flex-grow: 1;
    flex-basis: 60px;
    transition: all 0.3s ease;
}

.flex-item:hover {
    background-color: rgb(173, 145, 145);
    /* Altera a cor de fundo ao passar o mouse */
}

body {

    background-color: rgb(0, 0, 0);
}

a { color: aliceblue;}